/* 全体のリセットcss */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/login/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* スクロールしても背景が固定される */
}
/* header */
header {
    text-align: center;
    margin: 50px 0 ;
}

.logo img {
    width: 450px;
    text-shadow: #f0f0f0;
}


/* メインコンテナ */
.login_container {
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    margin: 50px auto;
    width: 80%;
}

/* ログインボックス */
.login_box, .register_box {
    background-color: rgba(217, 208, 208, 0.95);
    padding: 20px;
    width: 300px;
    display: flex;                
    flex-direction: column; /* 縦方向に配置 */
    justify-content: center;      
    align-items: center;     
    text-align: center;
    border: 1px solid #888888;
    height: 400px;   
}


.login_box h2, .register_box h2 {
    margin-bottom: 10px;
    font-size: 18px;
}
.register_box p {
    font-size:8px;
    color: #a9a9a9;
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 80%;
    margin-top: 20px;
    padding: 10px;
    background-color: orange;
    border: none;/*周りの線削除*/
    color: white;
    cursor: not-allowed; /* 初期状態でクリック不可 */
    transition: opacity 0.3s ease;/*easeによって徐々に*/
}

button:enabled {/*ログインボタンを使用する条件を満たした場合のみ、カーソルを変更*/
    cursor: pointer;
}

button:hover:enabled {
    opacity: 0.5;
}

/* パスワードを忘れたリンク */
#forgotPassword {
    display: block;
    margin-top: 10px;
    color: blue;
    text-decoration: none;
    font-size: 0.9em;
}

#forgotPassword:hover {
    text-decoration: underline;
}

/* 新規登録ボタン */
#registerBtn {
    width: inherit;/*コンテンツに合わせる*/
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 30px;/*inheritがバランス悪いため少し調節*/
    transition: opacity 0.3s ease;
}

#registerBtn:hover {
    opacity: 0.5;
}

/*画面サイズが小さいスマートフォンなどで閲覧された場合、ブロックを縦方向に配置。
スマートフォン判断の基準として適切なため768pxを判断材料に使用*/
@media (max-width: 768px) {
    .logo img {
        width: 350px;
    }
    .login_container {
        flex-direction: column;/*縦に並べる処理*/
        gap: 20px;
    }

    .login_box, .register_box {
        width: 95%;
        margin-bottom: 20px;/*縦並び表示の場合、間に20px適用*/
    }
}
