* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** PC用デザイン **/

.contentLesson_header {
    width: 70%;
    height: 100px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentLesson_header h1 {
    font-size: 40px;
    margin-right: 50px;
}

.contentLesson_header h2 {
    text-align: right;
}

.contentLesson_main {
    width: 70%;
    margin: auto;
    padding: 50px;
}

.main_container {
    width: 100%;
    padding: 70px 20px;
    display: flex;
    justify-content: center;
    border: 1px solid rgb(255 182 48 / 0.7);
}

.column {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.recipe_detail {
    width: 350px;
    padding: 20px;
    border: 1px solid rgb(1 1 1 / 0.9);
}

.rendering_image img {
    width: 350px;
    height: 300px;
    margin-bottom: 50px;
}

.ingredient { 
    width: 40%;
    padding: 20px 0px 20px 40px;
    border: 1px solid rgb(1 1 1 / 0.8);
}

.ingredient h2 {
    margin: 10px 0;
}

.lesson_time {
    width: 70%;
    margin: 200px auto;
    display: grid;
    gap: 50px;
    justify-content: center;
    text-align: center;
}

.lesson_time a {
    text-decoration: none; /* リンク下線排除 */
    color: black;
}

.lesson_time a:hover {
    background-color: rgba(255, 237, 179, 0.4);
    transition: background-color 0.5s; /* 背景の変化のみゆっくりと指定 */
    border-radius: 100px;
}

.lesson_time h2 {
    margin-bottom: 50px;
    font-size: 40px;
}

.business_hours {
    width: 800px;
    height: 100px;
    display: flex;
    align-items: center;
    border: 1.5px solid rgb(123, 123, 123, 0.8);
    border-radius: 100px; /* 各時間をまとめる項目両端を丸く */
}

.business_hours a:hover {
    color: rgba(255, 106, 0, 0.8);
}

.date {
    width: 200px;
    text-align: center;
}

/** スマートフォン用デザイン **/
@media (max-width: 768px) {
    .contentLesson_header {
        width: 90%;
        flex-direction: column;
        height: auto;
        margin: 20px auto;
        text-align: center;
    }

    .contentLesson_header h1 {
        font-size: 28px;
        margin: 10px 0;
    }

    .contentLesson_header h2 {
        font-size: 16px;
    }

    .contentLesson_main {
        width: 90%;
        padding: 20px;
        align-items: center;
    }

    .main_container {
        flex-direction: column;
        padding: 20px 10px;
    }

    .column {
        width: 100%;
        align-items: center;
    }

   
    .rendering_image img {
        width: 90%; 
        height: auto; 
        margin-left: 15px;
    }
    
    

    .recipe_detail {
        width: 100%;
        margin: 10px 0;
    }

    .ingredient {
        width: 100%;
        padding: 20px;
        margin-top: 20px;
    }
    .ingredient h2 {
        font-size: 20px;
    }

    .ingredient li {
        font-size: 13px;
    }

    .lesson_time {
        width: 100%;
        gap: 30px;
        margin: 50px auto;
    }

    .business_hours {
        width: 300px;
        height: 70px;
        padding: 20px;
    }

    .date, .time {
        width: 100%;
        text-align: left;
        margin: 5px 0 5px 10px;
    }
}
