* {
    margin: 0;
    padding: 0;
}


/* header */
.main_header {
    width: 100%;
    background-color: rgba(255, 106, 0, 0.9);
}

.header_Layout {
    width: 80%;
    margin:0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center; /* ヘッダー内で縦方向に中央揃え */
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_logo {
    width: 400px;
    margin-top: 30px;
    margin-bottom: 10px; 
}

.main_logo:hover {
    filter: brightness(90%)
}

.search_container {
    width: 350px; /* inputフォームの横幅をを大きく */
    display: flex;
    margin-bottom: 50px;
}

#searchInput {
    margin-right: 10px; /* フォームとボタンの間に余白を追加 */
    border-radius: 10px; /* 検索フォームを角丸く変化 */
    outline: none;
    border: 1px solid #ccc; /* 薄い枠線を追加 */
    text-align: center;
}

.search_button {
    width: 80px;
}


/* nav要素（今の位置から動かないように） */
.other {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* ナビゲーションの塊を右側に固定 */
}

.other img {
    width: 30px;
    height: 30px;
    padding: 10px;
}

.other img:hover { /* カーソルホバーしたら透けさせる */
    opacity: 0.5;
    transition: 0.3s;
}


form {
    flex-grow: 1;
    margin-left: 20px;
}

#searchInput {
    padding: 5px;
    width: 100%;
    max-width: 300px;
}


/* Slider設定 */
.slider_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 100%;
    max-width: 900px;
    position: relative;
}

.slider {
    width: 800px;
    /* 800px以上のエリアに配置されている要素を視認できないようにする */
    /* autoではブラウザによって表示のされ方が変化してしまうことがある事を検証済みのため、hiddenで対応 */
    overflow: hidden;
}

.slider_track {
    display: flex;
    transition: transform 0.5s ease-in-out;/* 加速してから減速 */
}

.slider_track img {
    width: 350px;
    height: 330px;
    margin: 0 30px;
}

.slider_track img:hover {
    filter: brightness(70%);
    transition: 0.3s;
}
.slider_container button {
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.slider_container button:hover {
    opacity: 0.5;
    transition: 0.3s;
}

#prevBtn {
    position: absolute;
    left: 0;
}

#nextBtn {
    position: absolute;
    right: 0;
}





/**** おすすめのコンテンツを表示 ****/


.annotation { /* 説明文設定 */
    text-align: center;
}

.main_contents { /* ranking１〜３位のコンテンツを縦並び、それぞれのブロックを横並びに */
    margin-top: 100px;
    display: flex;
    justify-content: center; /* 横並べした両ブロックを中央揃え */
}

.recommendation_container {
   margin: 20px;
}

.medal {
    width: 40px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;/* メダルの位置を調節 */
}

.content {
    width: 500px;
    height: 200px;
    padding: 10px;
    margin: 10px auto;
    display: flex;
    border: 1px solid rgba(255, 137, 47, 0.7);
    border-radius: 50px;
}
.content img {
    width: 120px;
    height: 120px;
    margin: 10px;
    border-radius: 3px;
}

.a_2 {
    padding: 10ppx;
}

.name h3 {
    width: 250px;
}

.name a{
    color: #000000;
    text-decoration: none;   
}
.name a:hover {
    color: gold;
    transition: 0.3s;
}
.explanation {
    padding-right: 10px;
}
.explanation p {
    font-size: 15px;
}